<nav>
  <!-- <div class="container">
    <a class="navbar-brand" routerLink="/">Sonali Dholam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experience" routerLinkActive="active">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <app-theme-toggle></app-theme-toggle>
    </div>
  </div> -->
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>